<!doctype html>
<html lang="en">
  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" integrity="sha384-JcKb8q3iqJ61gNV9KGb8thSsNjpSL0n8PARn9HuZOnIxN0hoP+VmmDGMN5t9UJ0Z" crossorigin="anonymous">

    <title>Karnataka State co-operative Federation Ltd.</title>
    <link rel = "icon" href ="img/logo1.jpg" type = "image/x-icon"> 
    <!-- Optional JavaScript -->
    <!-- jQuery first, then Popper.js, then Bootstrap JS -->
    <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js" integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.1/dist/umd/popper.min.js" integrity="sha384-9/reFTGAW83EW2RDu2S0VKaIzap3H66lZH81PoYlFhbGU+6BZp6G7niu735Sk7lN" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js" integrity="sha384-B4gt1jrGC7Jh4AgTPSdUtOBvfO8shuf57BaghqFfPlYxofvL8/KUEfYiJOMMV+rV" crossorigin="anonymous"></script>
    <link  href="css/style1.css" rel="stylesheet">
</head>

 <body>
       <div class="container-fluid">
        <div class="row">
          <div class="col-md-12 d-none d-sm-none d-md-block headerDiv">
            <img src="img/logo1.jpg">
             <p class="font-weight-normal" style="font-size:8ch; text-align:center;"> Karnataka State co-operative Federation Ltd.,</p>
            <p style="text-align:center; font-size: medium; color: rgb(121, 171, 236);"> Diploma in Co-operative Management (Distance Education)</p>
           </div>
        </div>

           <!--Nav bar-->
<nav class="navbar navbar-expand-lg navbar-dark bg-warning orange">
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
  <div class="collapse navbar-collapse" id="navbarNav">
    <ul class="navbar-nav">
      <li class="nav-item">
        <a class="nav-link" href="index.html">Home Page</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="form.html">Apply Online</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="#">Status</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="contact.html">Contact Us</a>
      </li>
    </ul>
  </div>
</nav>

<div class="row">
  <div class="col-md-2 custLeftDivMD">
    <fieldset class="border" >
      <legend class ='text-left'>Downloads</legend>
      <ul>
        <li><a href="resource/Noc or Deputing Letter.pdf" download>Download NOC template</a></li>
        <li><a href="resource/Service Certificate.pdf" download>Download Service Certificate template</a></li>
        <li>
         <a href="offline.html"> Download Application Form</a>
        </li>
      </ul>
    </fieldset>
    
  </div>

  <div class="col-md-8 custCentDivMD overflow-auto">
    <div id="genraInfo">
    <fieldset class="border" >
      <legend class ='text-left'>Contact Us</legend>
      <p id="innerPara">
        <div class="col-md-4 card" style="width: 18rem; margin-left: 10px; margin-right: 10px; margin-top: 10px; ">
            <div class="card-header">
                Karnataka State Co-operative Federation Ltd.,
            </div>
            <ul class="list-group list-group-flush">
              <li class="list-group-item">
                #32,3rd Floor, D Devaraj Urs road(Race course road),Bengaluru-560001<br>
                Ph: 080-22268018/19 <br>Email-kscfltd@gmail.com 
              </li>
            </ul>
          </div>

          <div class="col-md-4 card" style="width: 18rem; margin-left: 10px; margin-right: 10px; margin-top: 10px; ">
            <div class="card-header">
              Dharwad
            </div>
            <ul class="list-group list-group-flush">
              <li class="list-group-item">
                Principal,<br>
                Dr. D.G Shetty Education Society, Near KMF, Lakkamanahalli, Dharwad-580004, Ph: 0836-2773349                
              </li>
            </ul>
          </div>

          <div class="col-md-4 card" style="width: 18rem; margin-left: 10px; margin-right: 10px; margin-top: 10px; ">
            <div class="card-header">
              Madikeri
            </div>
            <ul class="list-group list-group-flush">
              <li class="list-group-item">
                Principal,<br>Abbi Falls Road, Madikeri-571201, Ph: 0827-2228437

              </li>
            </ul>
          </div>
            <br>
          <div class="col-md-4 card" style="width: 18rem; margin-left: 10px; margin-right: 10px; margin-top: 10px; ">
            <div class="card-header">
              Mysore
            </div>
            <ul class="list-group list-group-flush">
              <li class="list-group-item">
                Principal,<br>Chamaraja Jodi Road, Mysore-570004, Ph: 0821-2520563
              </li>
            </ul>
          </div>

          <div class="col-md-4 card" style="width: 18rem; margin-left: 10px; margin-right: 10px; margin-top: 10px; ">
            <div class="card-header">
              Kalaburgi
            </div>
            <ul class="list-group list-group-flush">
              <li class="list-group-item">
                Principal,<br>Sedam Road, Near Tholnak, Adarshanagar, Kalaburgi-5, Ph: 0847-2245340
              </li>
            </ul>
          </div>

          <div class="col-md-4 card" style="width: 18rem; margin-left: 10px; margin-right: 10px; margin-top: 10px; ">
            <div class="card-header">
              Bangalore
            </div>
            <ul class="list-group list-group-flush">
              <li class="list-group-item">
                Principal,<br>Sahakara Bhavana, Bangalore City Co-Operative Union Building, 
                1/3, 2nd Floor, 3rd Main, Chamarajpet, Bangalore-560018, 
                Ph: 080-26602046
                
              </li>
            </ul>
          </div>

          <div class="col-md-4 card" style="width: 18rem; margin-left: 10px; margin-right: 10px; margin-top: 10px; ">
            <div class="card-header">
              Shivamoga
            </div>
            <ul class="list-group list-group-flush">
              <li class="list-group-item">
                Principal,<br>Vinobhanagar, 2nd Stage, Shivamoga-577204, Ph: 0818-2248873
              </li>
            </ul>
          </div>

          <div class="col-md-4 card" style="width: 18rem; margin-left: 10px; margin-right: 10px; margin-top: 10px; ">
            <div class="card-header">
              Moodabidri 
            </div>
            <ul class="list-group list-group-flush">
              <li class="list-group-item">
                Principal,<br>Laadi, Moodabidri-577427, Ph: 08258-236561
              </li>
            </ul>
          </div>

          <div class="col-md-4 card" style="width: 18rem; margin-left: 10px; margin-right: 10px; margin-top: 10px; ">
            <div class="card-header">
              Belagavi 
            </div>
            <ul class="list-group list-group-flush">
              <li class="list-group-item">
                Principal,<br>C.T.S No. 4371, Kanbargi Road, 2nd Cross, Ramathirtha Nagar, (Behind Karnataka State Cricket Stadium) Belagavi-590016, Ph: 0831-2950026
              </li>
            </ul>
          </div>
     </p>
</fieldset>
</div>


</div>

<div class="col-md-2 custRightDivMD">
  <fieldset class="border" >
    <legend class ='text-left'>Help Line</legend>
    <ul>
      <li>
        Phone no: +91 8892075276
         ,+91 8660193339  
      </li>
      <li>
        E-mail: apitotechnologies@gmail.com
      </li>
     
    </ul>
  </fieldset>
</div> 



</div>
  <hr class="mt-2 mb-3"/>
  
  
    
  <div class="bs-example">
    <div class="bg-warning d-flex justify-content-between">
        <div>Owned And Maintained By: Karnataka State co-operative Federation Ltd., </div>
        <div>Designed and Deveploed By: www.apito.in</div>
    </div>
</div>
   <!-- <div class="row"></div>
      <div class="col-md-12 footerDiv">
        <div class="col-md-4">
        Designed and Deveploed By:<br><br>
        <img src="img/apito1.png" class="Responsive image" />
      
        <br>  www.apito.in</p>
          </div>
  
      </div>
  </div> -->
</div>
</body>
</html>
